<mat-toolbar>
  <a mat-button
     [routerLink]="['home']"
     routerLinkActive="sidenav-item-selected">
    PoC
  </a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    [mode]="'side'"
    [opened]="true"
    [fixedInViewport]="true"
    [fixedTopGap]="63"
    [fixedBottomGap]="0"
  >
    <ul>
      <li>
        <a [routerLink]="['home']"
           routerLinkActive="sidenav-item-selected">
          HeatMap
        </a>
      </li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>
<div class="pad-20" >
  <router-outlet></router-outlet>
</div>
